/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
body {
  height: 270px;
  background-image: url("assets/front-squat.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: "BebasNeue-Bold";
  src: url("assets/BebasNeue-Bold.otf");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("assets/BebasNeue-Regular.otf");
}

@font-face {
  font-family: "BebasNeue-Thin";
  src: url("assets/BebasNeue-Thin.otf");
}

