h1,h3,li {
  color:white;
}
h1,h3 {
    font-family: BebasNeue-Bold;
}
h1 {
  color: white;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
  font-size: 9rem;
}
  h1:hover {
    color: white;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: white;
    font-size: 9em;
  }
li,a {
    font-family: BebasNeue-Regular
}
