<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li>
    <a class="nav-link text-dark" [routerLink]="['/profile']"><fa-icon [icon]="faUser" class="mr-3"></fa-icon> Profile</a>
  </li>

  <li>
    <fa-icon [icon]="faPowerOff" class="mr-3"></fa-icon>
    <button class="btn btn-primary btn-margin"
            id="qsLogoutBtn"
            (click)="authorizeService.logout()">
      Log out
    </button>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item" *ngIf="authorizeService.loggedIn === false">
    <button id="qsLoginBtn"
            class="btn btn-primary btn-margin"
            (click)="authorizeService.login()">
      Log in
    </button>
  </li>
</ul>
