<h1>Movie</h1>
<p>Sample Movie Code</p>
<button id="movie-db-button" (click)="getDatabaseList()">Database List</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="databaseList && databaseList.length > 0">
  <thead>
  <tr>
    <th>Database Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let db of databaseList">
    <td>{{ db }}</td>
  </tr>
  </tbody>
</table>
<br/>
<button id="actor-movie-button" (click)="getActorMovieDictionary()">Actor Movie Dictionary</button>
<div *ngIf="actorMovieDictionary && objectKeys(actorMovieDictionary).length > 0">
  <ul *ngFor="let item of actorMovieDictionary | keyvalue">
    {{item.key}}
    <li *ngFor="let m of item.value">
      {{m}}
    </li>
  </ul>
</div>
<br/>
<button id="movie-list-button" (click)="getMovieList()">Movie List</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movieList && movieList.length > 0">
  <thead>
  <tr>
    <th>Movie Title</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movieList">
    <td>{{ movie.title }}</td>
  </tr>
  </tbody>
</table>

